.watches{
    height: 156px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.watches-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    transform: translateY(0px);
}
.watches-head{
    color: black;
    font-size: 16px;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 52px;
    height: 52px;
}
.watch-back{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 42px;
    max-height: 16px;
    line-height: 10px;
    position: relative;
    min-width: 42px;
    overflow: hidden;
}
.watch-logo{
    width: 23px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    height: 28px;
    line-height: 10px;
    max-width: 111px;
    padding-top: 2px;
    position: relative;
}
.watch-logo img{
    width: 23px;
    max-height: 30px;
}
.watch-head{
    color: #212121;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    padding-left: 12px;
    overflow-x:scroll ;
}
.watch-head h1{
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    display: inline-block;
    overflow: auto;
    font-family: Roboto;
    padding-top: 4px;
}
.watch-login{
    color: #000;
    width: 90px;
    display: table-cell;
    text-align: center;
    max-height: 16px;
    line-height: 10px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    font-family: Roboto;
}
.watch-login span{
    font-family: Roboto;
}
.sort-filter{
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    height: 48px;
    overflow: hidden;
    transform: translateY(0px);
}
/* sdfesdfe */
.sort-filter-container{
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    flex: 1;
    display: flex;
    align-items: stretch;
    position: relative;
}
.sort-filter-container-box{
    border-top-width: 1px;
    height: 48px;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;
    background-color: rgb(255, 255, 255);
    border: 0 solid black;
    display: flex;
    position: relative;
    border-bottom: 1px solid rgb(234, 234, 234);
    border-top: 1px solid rgb(234, 234, 234);
    z-index: 1px;
}
.watch-line{
    height: 16px;
    width: 1px;
    background-color: rgb(213, 215, 219);
    display: flex;
    position: relative;
}
.watch-sort{
    flex: 1 1 0%;
}
.watch-sort-box{
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
    justify-content: center;
}
.watch-sort-box-text{
    color: rgb(17, 17, 18);
    line-height: 20px;
    margin-left: 8px;
    font-size: 14px;
    letter-spacing: -0.01px;
    flex-shrink: 1;
    font-family: font3;
}
.stickers{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transform: translateY(0px);
    min-height: 56px;
    flex: 1;
    width: 100%;
     background-color: rgb(255, 255, 255);
}
.sticker-scroll{
    min-width: 1px;
    min-height: 1px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    flex-shrink: 1;
    transform: translateZ(0px);
    flex-grow: 1;
    flex-direction: row;
}
.sticker-scroll-box{
    padding-left: 11px;
    align-items: center;
    flex-direction: row;
    display: flex;
    height: 56px;
    padding-right: 11px;
}
.sticker-container{
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 418px;
    transform: translate(0px, 0px);
}
.sticker-main-box{
    background-color: rgb(255, 255, 255);
    padding: 0 8px 0 4px;
    margin: 8px 4px 0 4px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border: 1.5px solid rgb(234, 234, 234);
     border-radius: 4px;
    width: 100%;
}
/* sdfewsdfewsdfew */
.sticker-pic{
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    border: 0 solid black;
     position: relative;
}
.sticker-pic img{
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.sticker-text{
    max-width: 100%;
     text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
 }
.sticker-text span{
    color: rgb(33, 33, 33);
    font-size: 12px;
    line-height: 16px;
    display: inline;
    font-family: Roboto;
}
.watch-add{
    padding-top: 156px;
    display: flex;
    flex-direction: column;
    width: 375px;
}
.watch-add img{
    margin-left: -1px;
}
.watch-product{
    display: flex;
    align-items: stretch;
    /* width: 375px; */
    flex: 1;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    column-gap: 12px;
}
.watch-product-main{
    /* padding: 8px 16px; */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}
.product-watch{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}
.watch-box{
    width: 165.5px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
}
.watch-box-add{
    position: absolute;
    top: 4px;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 2px 0 0 6px;
    padding: 2.5px 4px 1.5px 4px;
    letter-spacing: 0.5px;
    left: 0;
    color: rgba(113, 116, 120, 1.00);
    font-size: 10px;
    display: inline;
}
.watch-items{
    width: 165.5px;
    flex-direction: column;
    display: flex;
    min-height: 216px;
    align-items: stretch;
    overflow: hidden;
}
.watch-item-box{
    display: flex;
    position: relative;
}
.watch-item-pic{
    display: flex;
    flex: 1;
    width: 165.5px;
    height: 220.115px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.watch-item-pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}
.back-ground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.04;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.watch-rating-box{
    height: 38px;
    padding: 6px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 6px;
}
.watch-rating-box-container{
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    opacity: .88;
    border-radius: 4px;
}
.watch-rating-count{
    color: rgb(0, 0, 0);
    padding: 2px;
    font-size: 10px;
    line-height: 16px;
    font-size: font3;
    letter-spacing: 0.01px;
    display: inline;
}

.watch-rating-star{
    display: flex;
    position: relative;
    width: 12px;
    height: 12px;
}
.watch-rating-star img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.watch-rating-users{
    color: rgb(96, 98, 101);
    padding: 2px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.01px;
    display: inline;
}
.watch-item-text{
    width: 165.5px;
    padding-top: 10px;
    flex-direction: column;
    display: flex;
    padding-right: 4px;
    align-items: flex-start;
    justify-content: flex-start;
}
.watch-item-text-name{
    width: 161.5px;
    justify-content: space-between;
    margin-right: 6px;
    height: 18px;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.watch-item-text-name div{
    color: rgba(33 , 33, 33, 1.00);
    max-width: 100%;
    align-items: flex-start;
    line-height: 16px;
    font-size: 14px;
    flex: 1;
    display: inline;
    font-family: font1;
}

.watch-item-text-detail{
    width: 149.5px;
    margin-right: 6px;
    flex-direction: row;
    display: flex;
}
.watch-item-text-detail div{
    padding-bottom: 2px;
    max-width: 100%;
    line-height: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 4px;
    font-size: 12px;
    margin-right: 4px;
    align-items: center;
    flex: 1;
    font-family: font2;
    opacity: 0.32;
}

.watch-item-text-price{
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
}
.watch-item-priceoffer{
    margin-right: 4px;
    display: flex;
    align-items: center;
    font-family: font1;
    flex-direction: row;
}
.watch-item-priceoffer-text{
    font-family: font1;
    font-size: 14px;
    color: rgb(75, 181, 80);
    display: inline;
}

.watch-item-priceog{
    margin-right: 4px;
    display: flex;
    align-items: center;
    font-family: font3;
    font-size: 14px;
    color: rgba(135, 135, 135, 1.00);
    text-decoration: line-through;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.watch-item-pricesale{
    font-size: 14px;
    color: rgba(33 , 33, 33, 1.00);
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: font1;
}
.watch-item-text-offer{
    margin-top: 4px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.watch-textoffer-pic{
    display: inline-flex;
    position: relative;
    margin-top: 2px;
    align-self: center;
    width: 38px;
    height: 16px;
}
.watch-textoffer-pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.watch-textoffer-price{
    background-color: rgba(0 , 0, 0, 0);
    font-size: 12px;
    color: rgb(6, 31, 128);
    display: inline;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.watch-textoffer-bank{
    background-color: rgba(0 , 0, 0, 0);
    font-size: 12px;
    color: rgb(6, 31, 128);
    display: inline;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.watch-cart{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    justify-content: center;
    height: 28px;
    align-items: center;
    width: 28px;
    position: absolute;
    right: 6px;
    top: 6px;
    display: flex;
}
.watch-cart-item{
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
}
.watch-cart-item img{
    width: 100%;
    height: 100;
    object-fit: contain;
}
.product-gap{
    width: 26px;
    display: flex;
    display: none;
}
/* sort Section */
.sort-box{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1.00);
    border-radius: 4px;
    padding-bottom: 24px;
    position: fixed;
    bottom: 0;
    width: 375px;
    z-index: 12;
}
.sort-box-text{
    color: rgba(135, 135, 135, 1.00);
    font-size: 14px;
    margin: 12px;
    display: inline;
    
}
.sort-margin{
    height: 1px;
    background-color: rgb(234, 234, 234);
    margin-bottom: 12px;
    display: flex;
}
.sort-box-selection{
    margin-bottom: 8px;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin-right: 8px;
}
.sort-selection-name{
    width: 360px;
    padding-right: 12px;
    padding-left: 12px;
    flex-direction: row;
    padding-top: 6px;
    padding-bottom: 6px;
    flex: 1;
    display: flex;
}
.sort-selection-name div{
    color: rgba(0 , 0, 0, 1.00);
    font-size: 14px;
    display: inline;
}
.sort-selection-box{
    display: flex;
    margin-right: 8px;
    margin-top: 2px;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 1;
    width: 16px;
    height: 16px;
    position: relative;
}
.sort-selection-box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.overlay{
    position: fixed;
    inset: 0;
    opacity: 1;
    background-color: rgb(0, 0, 0,0.5);
    z-index: 10;
}
.filter-box{
    
}