.body-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.body-section{
    flex: 1;
    overflow-x: hidden;
    overflow-y:scroll ;
    display: flex;
    justify-content: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 100%;
    /* min-sdfewsdfew: 996px; */
}
.scroll-section{
    height: 100%;
    background-color: #FFFFFF;
    grid-column: 1/13;
    order: 1;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.scroll-section-main{
    background-color: rgba(255, 2555, 255, 1.00);
    flex-direction: column;
    align-items: stretch;
    border: 0 solid black;
    display: flex;
    height: 100%;
    width: 100%;
    flex-basis: auto;
    flex-shrink: 0;
}
.scroll-section-sub{
    scrollbar-width: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.scroll-card{
    display: none;
}
.scroll-card.active{
    grid-auto-columns: 1fr;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll-card-main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    margin: 12px 16px 0 16px;
    border: 0 solid black;
    flex-basis: auto;
    flex-shrink: 0;
    border-radius: 16px;
}
.scroll-card-img{
    flex: 1 1 0%;
    aspect-ratio: 41/20;
    width: 100%;
}
.scroll-card-img img{
    filter: none;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 16px;
    aspect-ratio: 41/20;
}
.scroll-button{
    width: 100%;
    padding: 8px 0 12px 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
     border: 0 solid black;
    display: flex;
}
.scroll-width{
    /* width: 14px; */
    height: 4px;
    border-radius: 2px;
    background-color: rgba(229, 43, 43, 0.13);
    margin-right: 4px;
    color: black;
    margin-left: 4px;
    align-items: stretch;
    border: 0 solid black;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-shrink: 0;
}
.scroll-width.active-bar{
    width: 43px;
    background-color: black;
}
.bar{
     width: 10px;
    background-color: #e0e0e0;
}
.scroll-section-two{
    display: none;
}
@media screen and (min-width:768px){

.scroll-section{
  order: 2;
  height: calc(100% - 16px);
  background-color: rgb(255, 255, 255);
  margin-bottom: 16px;
}
.scroll-section-sub{
  display: flex;
}
.scroll-card-img{
    aspect-ratio: 211/35;
}
.scroll-card-img img{
    aspect-ratio: 211/35;
    border-radius: unset;
    height: 100%;
}
.body-section{
    margin-top: 8px;
    column-gap: 12px;
    width: 100%;
}
.body-section-main{
    margin: 0 16px;
}
.scroll-card-main{
    margin: unset;
}
.scroll-section-two{
    height: 100%;
    background-color: #FFFFFF;
    grid-column: 1/13;
    order: 1;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    position: relative;
}
.scroll-section{
    display: none;
}
}