.Add{
    height: 100%;
    grid-column: 1/13;
    order: 3;
}
.Add a{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 12px 16px;
}
.Add img{
    border-radius: 16px;
}
.phone{
    order: 4;
    height: 100%;
    background-color: #ffffff;
    grid-column: 1/13;
}
.phone-main{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.phone-text{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}
.phone-texts{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 1;
    align-items: stretch;
}
.phone-texts div{
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    font-size: 17px;
    line-height: 24px ;
    letter-spacing: -.01px;
    font-family: font3;
}
.phone-icon{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 24px;
}
.phone-icon div{
    background: linear-gradient(90deg,rgb(7,121,255),rgb(1,101,253));
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 24px;
    justify-content: center;
    border-radius: 30px;
}
.phone-area{
    flex-flow: wrap;
    flex: 1 1 0%;
    margin-right: 4px;
    margin-left: 16px;
    margin-bottom: 4px;
    display: flex;
}
.phone-container{
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}
.phone-container a{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    margin-right: 12px;
    margin-bottom: 11px;
    position: relative;
}
.phone-pic{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    align-items: stretch;
    border-radius: 8px;
}
.phone-details{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 8px 0 4px 0;
}
.phone-pic div{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: 160px;
    
}
.phone-pic-image{
    flex: 1 1 0%;
    aspect-ratio: 13/17;
    width: 100%;
    position: relative;
}
.phone-pic-image img{
    aspect-ratio: 13/17;
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
}
.phone-line{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    left: 4px ;
    bottom: 55px;
     border-radius: 6px;
    border-width: 1px;
     background-color: #fff;
    padding: 2px 6px;
    margin-left: 4px;
    margin-bottom: 4px;
}
.phone-line div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.phone-rating{
    display: inline;
    padding-right: 2px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: #1f1f1f;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
}
.phone-star{
    display: flex;
}
.phone-pic-setting{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
}
.phone-pic-setting div{
    display: inline;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.phone-name{
    color: rgb(31, 31, 31);
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    font-size: 12px ;
    line-height: 18px ;
    letter-spacing: 0;
    overflow: hidden;
}
.phone-price{
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    place-items: center;
    margin-top: 2px;
}
.phone-cost{
    color: rgb(31, 31, 31);
    display: inline;
    align-self: center;
    font-size: 12px;
    line-height: 18px;
    font-family: font3;
}
.phone-total{
    color: rgb(194, 194, 194);
    display: inline;
    align-self: flex-end;
    margin-left: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    text-decoration: line-through;
}
.mobile{
    height: 100%;
    background-color: #ffffff;
    grid-column: 1/13;
    order: 6;
}
.mobile-main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 12px 16px;
    overflow: hidden;
    border-radius: 10px;
}
.mobile-top{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: stretch;
    height: 108px;
    position: relative;
}
.mobile-image-top{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    background: linear-gradient(90deg ,rgb(162,105,242),rgb(162,105,242));
}
.mobile-main-image{
    flex: 1 1 0%;
    aspect-ratio: 82/27;
}
.mobile-main-image img{
    width: 100%;
    height: 100%;
}
.mobile-main-text{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.mobile-text{
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 16px 16px 0 16px;
}
.mobile-text-main{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -.01px;
}
.mobile-text-btn{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin-left: 12px;
    background: linear-gradient(90deg,rgb(255,255,255),rgb(255,255,255));
}
.mobile-text-button{
    margin: 4px 12px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
/* sdflij*/ 

.mobile-bottom{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgb(162, 105, 242);
}
/* sdfjh sfsdf sdfsfL1! */
.mobile-bottom-main{
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-items: stretch;
    border-radius: 12px;
    margin: -56px 12px 12px;
    padding-left: 8px;
    padding-top: 8px;
    position: relative;
}
.mobile-pic-setting{
    align-items: stretch;
    display: flex;
    position: relative;
    width: 100%;
    flex-basis: 50%;
    max-width: 50%;
}

.mobile-container-box{
    /* flex-grow: 0; */
    display: flex;
    /* flex-shrink: 0; */
    margin-bottom: 12px;
    margin-right: 8px;
    height: 100%;
    width: 100%;
}
.mobile-box{
    align-items: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.mobile-image{
    display: flex;
    align-items: stretch;
    height: 187px;
    background-color: #ffffff;
    border-radius: 16px;
}
.mobile-image img{
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
    background:transparent;
    aspect-ratio: 3/4;
}
.mobile-box-text{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 4px;
    width: 100%;
    position: relative;
}
.mobile-box-item{
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #000;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
}
.mobile-box-heading{
    display: inline;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    color: #000;
}
.items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    order: 11;
    width: 100%;
}
/* sdfhukbcjs   sdfhukj */
.items-box{
    background-color: rgb(255, 255, 255);
    margin: 0 10px;
    padding:  0 0 0 10px;
    display: flex;
    align-items: stretch;
    width: 100%;
}
.items-box a{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 16px 6px 8px 6px;
    width: 50%;
}
.items-pic{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    border-radius: 12px;
    flex: 1 1 0%;
    aspect-ratio: 3/4;
}

.items-pic img{
    width: 100%;
    object-fit: contain;
    height: 100%;
    aspect-ratio: 3/4;
}

.items-line{
    display: flex;
    flex-direction: row;
    position: relative;
}
.items-line-rating{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    background-color: #ffffff;
    border-radius: 6px;
    bottom: 1px;
    margin-left: 14px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-top: 2px;
    right: -37px;
}
.items-line-ratingno{
    display: inline;
    white-space: pre-wrap;
    color: #1f1f1f;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
}
.items-line-ratingno svg{
    margin: 0 4px;
}
.items-line-buyer{
    display: inline;
    white-space: pre-wrap;
    color: #1f1f1f;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
}

.items-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}
.items-name-product{
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    margin-left: 4px;
    font-size: 12px;
    line-height: 18px;
}
.items-name-gender{
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    flex: 1 1 0%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #707070;
    font-size: 12px ;
    line-height: 18px;
}

.items-rate{
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}
.items-rate-discount{
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 4px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    text-decoration: line-through;
}
.items-rate-price{
    font-size: 14px ;
    line-height: 20px;
    letter-spacing: -.01px;
    color: #000;
}
