.Add{
    height: 100%;
    grid-column: 1/13;
    order: 3;
}
.Add a{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 12px 16px;
}
.Add img{
    border-radius: 16px;
}
.phone{
    order: 4;
    height: 100%;
    background-color: #ffffff;
    grid-column: 1/13;
}
.phone-main{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.phone-text{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}
.phone-texts{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 1;
    align-items: stretch;
}
.phone-texts div{
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    font-size: 17px;
    line-height: 24px ;
    letter-spacing: -.01px;
    font-family: font3;
}
.phone-icon{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 24px;
}
.phone-icon div{
    background: linear-gradient(90deg,rgb(7,121,255),rgb(1,101,253));
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 24px;
    justify-content: center;
    border-radius: 30px;
}
.phone-area{
    flex-flow: wrap;
    flex: 1 1 0%;
    margin-right: 4px;
    margin-left: 16px;
    margin-bottom: 4px;
    display: flex;
}
.phone-container{
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}
.phone-container a{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    margin-right: 12px;
    margin-bottom: 11px;
    position: relative;
}
.phone-pic{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    align-items: stretch;
    border-radius: 8px;
}
.phone-details{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 8px 0 4px 0;
}
.phone-pic div{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: 160px;
    
}
.phone-pic-image{
    flex: 1 1 0%;
    aspect-ratio: 13/17;
    width: 100%;
    position: relative;
}
.phone-pic-image img{
    aspect-ratio: 13/17;
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
}
.phone-line{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    left: 4px ;
    bottom: 55px;
     border-radius: 6px;
    border-width: 1px;
     background-color: #fff;
    padding: 2px 6px;
    margin-left: 4px;
    margin-bottom: 4px;
}
.phone-line div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.phone-rating{
    display: inline;
    padding-right: 2px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: #1f1f1f;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
}
.phone-star{
    display: flex;
}
.phone-pic-setting{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
}
.phone-pic-setting div{
    display: inline;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.phone-name{
    color: rgb(31, 31, 31);
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    font-size: 12px ;
    line-height: 18px ;
    letter-spacing: 0;
    overflow: hidden;
}
.phone-price{
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    place-items: center;
    margin-top: 2px;
}
.phone-cost{
    color: rgb(31, 31, 31);
    display: inline;
    align-self: center;
    font-size: 12px;
    line-height: 18px;
    font-family: font3;
}
.phone-total{
    color: rgb(194, 194, 194);
    display: inline;
    align-self: flex-end;
    margin-left: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    text-decoration: line-through;
}
.mobile{
    height: 100%;
    background-color: #ffffff;
    grid-column: 1/13;
    order: 6;
}
.mobile-main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 12px 16px;
    overflow: hidden;
    border-radius: 10px;
}
.mobile-top{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: stretch;
    height: 108px;
    position: relative;
}
.mobile-image-top{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    background: linear-gradient(90deg ,rgb(162,105,242),rgb(162,105,242));
}
.mobile-main-image{
    flex: 1 1 0%;
    aspect-ratio: 82/27;
}
.mobile-main-image img{
    width: 100%;
    height: 100%;
}
.mobile-main-text{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.mobile-text{
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 16px 16px 0 16px;
}
.mobile-text-main{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -.01px;
}
.mobile-text-btn{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin-left: 12px;
    background: linear-gradient(90deg,rgb(255,255,255),rgb(255,255,255));
}
.mobile-text-button{
    margin: 4px 12px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.mobile-bottom{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgb(162, 105, 242);
}
.mobile-bottom-main{
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-items: stretch;
    border-radius: 12px;
    margin: -56px 12px 12px;
    padding-left: 8px;
    padding-top: 8px;
    position: relative;
}
.mobile-pic-setting{
    align-items: stretch;
    display: flex;
    position: relative;
    width: 100%;
    flex-basis: 50%;
    max-width: 50%;
}
.mobile-container-box{
    display: flex;
    margin-bottom: 12px;
    margin-right: 8px;
    height: 100%;
    width: 100%;
}
.mobile-box{
    align-items: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.mobile-image{
    display: flex;
    align-items: stretch;
    height: 187px;
    background-color: #ffffff;
    border-radius: 16px;
}
.mobile-image img{
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
    background:transparent;
    aspect-ratio: 3/4;
}
.mobile-box-text{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 4px;
    width: 100%;
    position: relative;
}
.mobile-box-item{
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #000;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
}
.mobile-box-heading{
    display: inline;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    color: #000;
}
.items{
    display: flex;
    flex-wrap: wrap;
    order: 11;
    margin-right:11px;
    margin-left: 10px;
}
.items-box{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: stretch;
    width: 50%;
}
.items-box:nth-child(odd){
    padding-right: 10px;
}
.items-box a{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 16px 6px 8px 6px;
    width: 100%;
}
.items-pic{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    border-radius: 12px;
    aspect-ratio: 3/4;
    background-color: #f1ecec;
}
.items-pic img{
    width: 100%;
    object-fit: contain;
    height: 100%;
    aspect-ratio: 3/4;
}
.items-line{
    display: flex;
    flex-direction: row;
    position: relative;
}
.items-line-rating{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    background-color: #ffffff;
    border-radius: 6px;
    bottom: 1px;
    margin-left: 14px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-top: 2px;
    right: -37px;
}
.items-line-ratingno{
    display: inline;
    white-space: pre-wrap;
    color: #1f1f1f;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
}
.items-line-ratingno svg{
    margin: 0 4px;
}
.items-line-buyer{
    display: inline;
    white-space: pre-wrap;
    color: #1f1f1f;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
}
.items-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}
.items-name-product{
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    margin-left: 4px;
    font-size: 12px;
    line-height: 18px;
}
.items-name-gender{
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    flex: 1 1 0%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #707070;
    font-size: 12px ;
    line-height: 18px;
}
.items-rate{
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}
.items-rate-discount{
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 4px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    text-decoration: line-through;
}
.items-rate-price{
    font-size: 14px ;
    line-height: 20px;
    letter-spacing: -.01px;
    color: #000;
}
.phone-texts-tb {
    display: none;
}
.phone-cards{
    display: none;
}
.phone-tab{
    display: none;
}
.tab{
    display: none;
}
@media screen and (min-width:768px) {
.Add{
    display: none;
}
.phone{
    margin-top: 16px;
}
.phone-icon{
    display: none;
}
.phone-text{
    padding: 16px 12px;
}
.phone-texts{
    display: none;
}
.phone-texts-tb {
    display: block;
}
.phone-texts-tb div{
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    font-size: 22px;
    line-height: 24px ;
    letter-spacing: -.01px;
    font-family: font3;
}
.phone-area{
    display: none;
}
.tab{
    display: block;
}
.phone-tab{
    display: flex;
    padding: 0 6px 12px 6px;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}
.phone-tab-main{
    width: 172px;
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex-shrink: 0;
}
.phone-tab-main-box{
    margin: 8px;

}
.phone-tab-main-box a{
    padding: 12px 24px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}
.phonetab-box{
    display: flex;
    flex-direction: column;
}
.phonetab-pic{
    flex: 1;
    aspect-ratio: 1/1;
    border-radius: 2px;
    width: 100%;
}
.phonetab-pic img{
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.phonetab-details{
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    flex: 1 1 0%;
    position: relative;
    min-height: 48px;
}
.phonetab-name{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    color: #1f1f1f;
    max-width: 100%;
}
.phonetab-price{
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    color: #1f1f1f; 
    font-family: font1;
}
.watch-mobile{
    display: none;
}
/* -------------------new Page  -------------*/
.tab-header{
    padding-bottom: 56px;
    min-width: 978px;
    position: relative;
}
.tab-header-items{
    position: fixed;
    display: flex;
    width: 100%;
    height: 56px;
    background-color: #2874f0;
    color: #f0f0f0;
    flex-direction: row;
    z-index: 10;
}
.tab-gap{
    height: 100%;
    min-width: 124px;
}
.tab-header-item{
    display: flex;
    max-width: 1248px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.tab-logo{
    display: flex;
    justify-content: flex-end;
    min-width: 137px;
}
.tab-logo-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-logo-box-text{
    font-size: 11px;
    font-style: italic;
    margin-top: -5px;
    color: #fff;
    line-height: 1.4;
    font-weight: 400;
    font-family: font6;
}
.tab-logo-box-text-span{
    color: #ffe500;
    margin-right: 2px;
    font-size: 11px;
    font-style: italic;
    line-height: 1.4;
    font-weight: 500;
    font-family: font3;
}
.tab-button{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    min-width: 304px;
    width: calc(100%-540px);
    margin: 0 auto 0 12px;
    align-items: center;
}
.header-tab-button{
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23);
    width: 100%;
    height: 36px;
    max-width: 564px;
    position: relative;
}
.header-tab-button-box{
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    background-color: #fff;
    width: 100%;
}
.tab-button-box{
    position: relative;
    display: inline-block;
    width: 100%;
}
.tab-button-box input{
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 100%;
}

.tab-button-box-icon{
    border: 1px solid #fff;
    background-color: #fff;
    height: 36px;
    width: 44px;
    border-radius: 2px;
    padding: 2px 12px 0 8px;
    display: flex; 
    align-items: center;
}
.tab-login{
    align-items: center;
    min-width: 112px;
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
    display: flex;
    justify-content: flex-end;
}
.tab-login-box{
    display: flex;
    align-items: center;
    height: 100%;
    /* line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500; */
    color: #fff;
}
.tab-login-box a{
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    border-radius: 2px;
    padding: 4.5px 40px;
    border: 1px solid #dbdbdb;
    font-family: font3;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 20px;
    height: 30px;
}
.tab-header-box-text{
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
}
.tab-header-box-text span{
    line-height: 20px;
    font-size: 15px;
    letter-spacing: .3px;
    font-weight: 500;
    font-family: font3;
}
.tab-header-box{
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
    display: flex;
    align-items: center;
    margin-right: 2px;
}
.tab-header-box-container{
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
}
.tab-header-box-container-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 108px;
    display: block;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    font-family: font6;
}
.tab-header-box svg{
    transform: transform .1s;
    transform: rotate(270deg);
    margin: 1px 0 0 8px;
}
.tab-header-cart{
    display: flex;
    height: 100%;
    width: 100%;
}
.tab-header-cart a{
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
}
.tab-header-cart svg{
    width: 16px;
    height: 16px;
    margin: 0 8px;
}
.tab-header-position{
    position: fixed;
    top: 53px;
    height: 3px;
    background-color: #2874f0;
    box-shadow: 0 2px 2.5px 0 rgba(0, 0, 0, .3);
    width: 100%;
    z-index: 6;
}
.tab-categories{
    min-height: 40px;
    color: #000;
    width: 100%;
    z-index: 6;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
    position: relative;
}
.tab-categories-item{
    min-width: 978px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-left: 4px;

}
.tab-categories-box{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-weight: 500;
    height: 100%;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
    font-family: font6;
}
.tab-categories-box svg{
    margin-left: 8px;
    transform: rotate(270deg);
    color: #000;
}
.tab-main{
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
    width: 100%;
}
.tab-main-shape{
    display: flex;
    flex-flow: row;
}
.tab-filter{
    flex: 0 0 280px;
    max-width: 280px;
    padding: 0 10px 0 0;
    flex-flow: column;
    display: flex;
    width: 160.66%;
}
.tab-filter-main{
    display: flex;
    flex-flow: column;
    width: 100%;
}
.tab-filter-sections{
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 8px  0 rgba(0, 0, 0, .06);
}
.tab-filter-section-title{
    padding: 16px 16px 12px 16px;
    border: 1px solid #f0f0f0;
    font-size: 18px;
    width: 100%;
    font-weight: 700;
    font-family: font3;
}
.tab-filter-section-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab-filter-section-title-clear{
    color: #2874f0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
    font-family: font3;
}
.clear-items{
    position: relative;
    max-height: 104px;
    overflow: hidden;
    margin: 8px 0 0 -4px;
}
.clear-item-data{
    display: inline-block;
    font-size: 12px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 100%, .5);
    border-radius: 3px;
    margin: 2px 4px ;
    overflow: hidden;
    max-width: 200px;
    padding: 8px;
    font-weight: 400;
    color: #212121;
    line-height: 1.4;
}
.clear-x{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color:#212121;
    line-height: 1.4;
}
.clear-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
    margin-left: 8px;
    max-width: 90%;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #212121;
    line-height: 1.4;
}
.tab-categories{
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    line-height: 1.4;
}
.tab-categories-title{
    font-size: 11px;
    font-weight: 500;
    color: #212121;
    margin-bottom: 5px;
    font-family: font3;
}
.tab-categories-text{
    padding: 5px 0;
    color: #212121;
    white-space: nowrap;
}
.tab-categories-text svg{
    display: inline-block;
    margin-right: 5px;
}
.tab-categories-text-text{
    color: #878787;
    width: 150px;
    display: inline-block;
    vertical-align: top;
}
.tab-categories-text-a{
    font-weight: 500;
    width: 150px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-family: font2;
    color: #000;
    font-size: 13px;
    line-height: 1.4;
    margin-left: 15px;
}
.tab-price{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.tab-price-text{
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .3px;
    color: #212121;
    line-height: 1.4;
}
.tab-price-graph{
    height: 25px;
}
.tab-price-graph-main{
    height: 100%;
    position: relative;
    bottom: -6px;
}
.graph-h{
    height: 20.8333px;
    width: 39.4683px;
    display: inline-block;
    background: #e0e0e0;
}
.graph-m{
    height: 20.8333px;
    width: 39.4683px;
    display: inline-block;
    background: #e0e0e0;
}
.graph-l{
    height: 12.5px;
    width: 39.4683px;
    background: #e0e0e0;
    display: inline-block;
}
.tab-price-range{
    position: relative;
    height: 13px;
}
.tab-price-left{
    transform: translateX(0px);
    left: -13.5px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: -3.5px;
}
.tab-price-left-ball{
    right: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
    position: absolute;
    background-color: #fff;
    top: 3.5px; 
}
.tab-price-right{
    transform: translateX(-1.19px);
    right: -13.5px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: -3.5px;
}
.tab-price-right-ball{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
    position: absolute;
    background-color: #fff;
    top: 3.5px;
}
.tab-price-line{
    background-color: #c2c2c2;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 6px;
    width: 100%;
}
.tab-price-strick{
    transform: translate(0px) scaleX(0.995);
    background-color: #2874f0;
    transform-origin: left center;
    top: 4px;
    height: 6px;
}
.tab-price-ranges{
    margin-top: -12px;
}
.tab-price-range-dot{
    width: 39.4683px;
    display: inline-block;
    text-align: left;
    user-select: none;
    content: "\00B7";
    color: #c2c2c2;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}
.tab-price-range-dot:last-child{
    width: 0;
}
.tab-price-price{
    color: #a3a3a3;
    font-size: 14px;
    margin: 5px -4px 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
    font-weight: 400;
    line-height: 1.4;
}
.tab-price-min{
    display: inline-block;
    flex-grow: 2;
    color: #a3a3a3;
}
.tab-price-min-box{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhl…yMTIxMjEiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat 90% 50%;
    height: 24px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
    padding: 0 5px;
    outline: none;
}
.tab-price-min-box option{
    padding: 0 7px;
}
.tab-price-to{
    display: inline-block;
    margin: 0 9px;
    font-size: 14px;
    color: #878787;
    line-height: 1 ;
    flex: 1;
    text-align: center;
}
.tab-price-max{
    display: inline-block;
    margin-left: 1.5px;
    flex-grow: 2;
}
.tab-assured{
    display: flex;
    padding: 16px;
    border-bottom: 1 px solid #f0f0f0;
}
.tab-assured-text{
    position: relative;
    width: 100%;
}
.tab-assured-text input{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.tab-checkbox{
    position: relative;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1.4px solid #c2c2c2;
    border-radius: 1.5px;
    display: inline-block;
} 
.tab-checkbox{
    width: 14px;
    height: 14px;
}
.tab-checkbox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tab-assured-pic{
    vertical-align: middle;
    font-size: 14px;
    padding-left: 11px;
    color: #212121;
    display: inline-block;
    width: calc(100% 14px-11px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    margin-top: 2px;
}
.tab-assured-btn{
    display: inline-block;
    position: relative;
}
.tab-assured-btn span{
    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-weight: 500;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
    vertical-align: middle;
    margin: 1px 2px 0 8px ;

}
.tab-filter-section{
    display: block;
    width: 100%;
}
.tab-filter-pic{
    text-align: center;
    padding-top: 30px;
    display: block;
}
.tab-filter-pic-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}
.tab-filter-pic-heading{
    color: #2874f0;
    line-height: 1;
    font-size: 18px;
    margin: 5px 0 20px;
    font-weight: 400;
}
.tab-filter-pic-heading svg{
    transform: rotate(180deg);
    width: 6px;
    height: 12px;
    margin-left: 4px;
}
.tab-filter-box{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.tab-filter-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -16px;
    padding: 16px;
}
.tab-filter-name-product{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .3px;
    display: inline-block;
    width: 95%;
    font-family: font3;
}
.tab-filter-name svg{
    transform: rotate(90deg);
    display: inline-block;
    width: 6px;
    height: 11px;
}
.tab-filter-product{
    margin: 7px 0;
    /* display: none; */
}
.tab-filter-product-search{
    margin-bottom: 7px;
    position: relative;
}
.tab-filter-product-search svg{
    width: 12px;
    height: 20px;
    position: absolute;
}
.tab-filter-product-search input{
    width: 100%;
    border-width: 0 0 2px;
    border-color: #e0e0e0;
    height: 20px;
    font-size: 14px;
    padding: 0 0 0 21px;
    color: #878787;
    outline: none;
}
.tab-filter-product-name{
    padding: 3px 0;
    width: 100%;
    display: inline-block;
}
.tab-filter-product-name input{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.tab-product{
    flex-grow: 1;
    overflow: auto;
    flex-flow: column;
    display: flex;
}
.tab-product-heading{
    background-color: rgb(255, 255, 255);
    align-items: flex-end;
    flex-flow: row;
    display: flex;
    width: 100%;
}
.tab-product-heading-box{
    flex-grow: 1;
    overflow: auto;
    display: block;
    background:#fff;
    padding: 12px 16px 0 ;
    border: 1px solid #f0f0f0;
    min-height: 72px;
    height: 100%;
}
.tab-heading-text{
    font-size: 12px;
    color: #878787;
    display: inline-block;
}
.tab-heading-text a{
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}
.tab-heading-text svg{
    height: 7px;
    width: 20px;
    transform: rotate(180deg);
    vertical-align: middle;
}
.tab-product-heading-total{
    font-weight: 500;
    font-weight: 16px;
    margin-top: 8px;
    display: inline-block;
}
.tab-product-heading-sort{
    display: flex;
}
.tab-product-sort{
    padding: 8px 0 4px;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    line-height: 1.4;
}
.tab-product-sort:first-child{
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-weight: 500;
    padding: 8px 10px 4px 0;
    color: #212121;
    line-height: 1.4;
    margin: 0;
}
.tab-product-box{
    width: 100%;
    padding-top: 8px;
    align-items: center;
    background:#fff;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.tab-product-box-main-box{
    width: 25%;
}
.tab-product-box-main{
    margin: 0 8px;
    overflow: hidden;
    position: relative;
}
.tab-product-box-main-a{
    position: relative;
    display: block;
    margin-bottom: 5px;
}
.tab-product-pic-box{
    padding-top: 120%;
    position: relative;
    width: 100%;
}
.tab-product-box-pic{
    padding-top: 120%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-product-box-pic img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* max-width: 100%;
    max-height: 100%; */
    height: 100%;
    width: 100%;
    opacity: 1;
}
.tab-product-like{
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 12px;
    /* fill: #000; */
    opacity: .2;
    stroke: transparent;
}
.tab-product-like svg{
    /* fill: red; */
}
.tab-product-box-text{
    transform: translate3d(0px ,0px ,0px);
    width: 100%;
    background: #fff;
    padding: 5px 16px 8px;
}
.tab-product-sponsored{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #bdbdbd;
    border-radius: 4px;
    border: 1px solid #fff;
}
.tab-product-item-name{
    color: #878787;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}
.tab-product-details{
    display: inline-block;
    width: calc(100% - 80px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}
.tab-product-item-assured{
    display: inline-block;
    font-size: 0;
}
.tab-product-price-box{
    display: block;
    padding: 0 10px 0 0;
}
.tab-product-og{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
    line-height: 1.4;
}
.tab-product-discount{
    display: inline-block;
    margin-left: 8px;
    text-decoration: line-through;
    font-size: 14px;
    color: #878787;
    font-weight: 400;
    line-height: 1.4;
}
.tab-product-off{
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px;
    font-weight: 500;
    display: inline-block;
    margin-left: 8px;
    font-family: font1;
}
}