.footer-container{
    background-color: #fff;
    padding: 14px 16px;
    border-top: 1px solid #f1f2f4;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
}
.footer-text{
    display: inline-block;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
}
.footer-icon{
    font-size: 24px;
}
.footer-main{
    display: none;
}
@media screen and (min-width:768px) {
.footer-container{
    display: none;
}
.footer-main{
    display: block;
    background-color: #212121;
}
.footer{
    grid-template-columns: repeat(3,1fr);
    padding: 40px 20px 0;
    column-gap: 12px;
    display: grid;
}
.footer-box-text{
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
    display: block;
    width: 194.58px;
}
.footer-links{
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: 18px;
    white-space: nowrap;
    font-family: font2;
} 
.footers-links{
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: 18px;
    white-space: nowrap;
    font-family: font1;
}
.footer-links div{
    display: inline-block;
    color: #fff;
}
.footer-boxText{
    margin-top: 20px;
    font-size: 12px;
    white-space: nowrap;   
}
.footer-box-text-box{
    margin-bottom: 16px;
}
.phno{
    color: #2874f0;
    white-space: nowrap;
}
.footer-box-logo{
    display: flex;
    align-items: center;
}
.footer-box-logo-item{
    margin-right: 16px;
}


.footer-logo{
    font-size: 8px;
    border-top: 1px solid #454d5e;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0;
}
.footer-logo-box{
    display: flex;
    align-items: center;
}
.footer-logo-box a{
    margin-left: 4px;
    font-size: 8px;
    color: #fff;
    line-height: 18px;
}
.footer-right{
    color: #fff;
}
.consumer-policy{
    margin-top: 20px;
}
}