.details-header {
  display: flex;
  background-color: rgb(207, 235, 254);
  width: 100%;
  height: 100%;
  padding: 12px 0 12px 8px;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}
.detail-header-arrow {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  position: relative;
}
.detail-header-button {
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 1.6px solid rgb(88, 171, 250);
  height: 40px;
  margin-right: 4px;
  margin-left: 8px;
  padding-right: 12px;
}
.detail-header-button-text {
  display: inline;
  color: rgb(112, 112, 112);
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  max-width: 100%;
  flex: 1 1 0%;
  font-size: 14px;
  line-height: 18px;
}
.detail-header-cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 8px;
  height: 40px;
  width: 40px;
  justify-content: center;
}
.detail-header-cart svg {
  margin-right: -8px;
}
.detail-add {
  height: 60px;
  display: flex;
  margin: 6px 8px;
  padding: 4px;
}
.detail-add-box {
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  position: relative;
  min-width: 0;
  overflow: hidden;
}
.detail-add-box-pic {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  align-items: stretch;
}
.detail-add-box-pic img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.detail-add-box-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  margin-left: 8px;
  position: relative;
  min-width: 0;
  overflow: hidden;
  margin-top: 4px;
}
.detail-add-box-text-title {
  color: rgb(51, 51, 51);
  display: block;
  white-space: nowrap;
  overflow-wrap: normal;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
}
.detail-add-box-text-details {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
}
.detail-add-text {
  color: rgb(0, 139, 55);
  display: inline;
  font-size: 10px;
  line-height: 12px;
}
.detail-add-discount {
  font-size: 10px;
  line-height: 12px;
  color: rgb(112, 112, 112);
  text-decoration: line-through;
  margin-left: 2px;
}
.detail-add-price {
  color: rgb(51, 51, 51);
  display: inline;
  margin-left: 2px;
  font-size: 10px;
  line-height: 12px;
}
.detail-add-add-box {
  display: flex;
  max-width: fit-content;
  margin-left: 8px;
  color: rgb(255, 255, 255);
  white-space: pre-wrap;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 4px 6px;
  font-size: 10px;
  line-height: 12px;
  border-radius: 6px;
}
.detail-product {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: -13.5px;
}
.detail-product-pic {
  display: flex;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  height: 502.5px;
  position: relative;
}
.detail-product-pic-box {
  display: flex;
  flex: 1 1 0%;
  align-items: stretch;
  height: 100%;
  position: relative;
  width: 4125px;
  transform: translate3d(0px, 0px 0px);
  justify-content: center;
}
.detail-product-main {
  width: 375px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}
.detail-product-main img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 3/4;
}
.detail-product-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 16px;
  right: 16px;
}
.detail-like {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.88);
  margin-bottom: 12px;
  height: 32px;
  width: 32px;
}
.detail-share {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.88);
}
.detail-product-rating {
  display: flex;
  flex-direction: row;
  bottom: 16px;
  left: 16px;
  position: absolute;
  border-radius: 8px;
  align-items: stretch;
}
.detail-rating-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: 8px;
}
.detail-rating-count {
  color: rgb(51, 51, 51);
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  margin-right: 2px;
}
.detail-rating-user {
  color: rgb(112, 112, 112);
  margin-left: 2px;
  font-size: 12px;
  line-height: 16px;
}
.detail-product-scroll {
  height: 2px;
  border-radius: 6px;
  overflow: hidden;
  margin: 4px 8px 0 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.detail-scroll-gab {
  height: 2px;
  width: 100%;
  background-color: rgba(245, 245, 245, 1);
}
.detail-scroll-box {
  position: absolute;
  width: 39.888888888888886px;
  transform: translateX(0px);
  display: flex;
  align-items: stretch;
}
.detail-scroll-box-line {
  height: 2px;
  border-radius: 6px;
  position: absolute;
  width: 100%;
  background-color: rgba(10, 10, 10, 1);
  display: flex;
}
.detail-strap {
  max-width: 1200px;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.detail-strap-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  padding: 16px 16px 8px;
}
.detail-strap-heading-text {
  color: #333333ff;
  display: inline;
  font-size: 14px;
  line-height: 18px;
  font-family: font3;
}
.detail-strap-heading-sub {
  padding-left: 4px;
  color: #333333ff;
  display: inline;
  font-size: 14px;
  line-height: 18px;
}
.detail-strap-watch {
  display: flex;
  align-items: stretch;
  padding: 8px 0 4px 0;
}
.detail-strap-watch-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none;
  flex-shrink: 1;
  transform: translateZ(0px);
  flex-grow: 1;
  overflow-y: hidden;
}
.detail-strap-watch-scroll-box {
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  align-items: stretch;
}
.detail-strap-main {
  padding-left: 8px;
  display: flex;
  align-items: center;
}
.detail-strap-main :first-child {
  display: flex;
  align-items: center;
}
.detail-strap-main a {
  display: flex;
  align-items: center;
  border: 1.6px solid #e0e0e0ff;
  max-width: 66px;
  min-width: 66px;
  justify-content: center;
  border-radius: 14px;
  padding: 2px;
}
.detail-strap-main-box {
  display: flex;
  align-items: center;
  min-height: 88px;
  min-width: 60px;
  border-radius: 12px;
  justify-content: center;
  flex: 1;
  padding: 4px;
}
.detail-strap-main-box img {
  aspect-ratio: 13/18;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.detail-watch {
  display: flex;
  max-width: 1200px;
  background-color: #ffffff;
  height: 100%;
  margin: 16px 16px 8px;
  flex-direction: column;
}
.detail-watch-text {
  color: #333333ff;
  display: inline;
  align-items: center;
  margin-right: 8px;
  font-size: 14px;
  line-height: 18px;
  font-family: font3;
}
.detail-watch-detail {
  display: flex;
  padding-top: 4px;
  width: 100%;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  line-height: 20px;
}
.detail-price {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 8px 16px;
}
.detail-price-deal {
  margin-bottom: 8px;
  display: flex;
  align-self: flex-start;
  border-radius: 4px;
  height: 22px;
  justify-content: center;
  max-width: max-content;
  background: linear-gradient(90deg, rgb(0, 158, 74));
  padding: 2px 8px 0 8px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: font3;
}
.detail-price a {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.detail-offer {
  color: rgb(0, 139, 55);
  display: inline;
  max-width: 100%;
  margin-right: 6px;
  font-size: 22px;
  line-height: 28px;
  font-family: font3;
}
.detail-discount {
  color: rgb(112, 112, 112);
  display: inline;
  text-decoration: line-through;
  margin-right: 6px;
  font-size: 22px;
  line-height: 28px;
}
.detail-price-no {
  color: rgb(51, 51, 51);
  display: inline;
  align-items: center;
  line-height: 28px;
  font-size: 22px;
  font-family: font3;
}
.detail-buying {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  padding: 8px 16px 8px 8px;
}
.detail-buying-box {
  flex-flow: row;
  flex: 1 1 0%;
  display: flex;
  align-items: stretch;
}
.details-buying {
  flex-basis: 50%;
  max-width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 8px;
  height: 44px;
  min-width: 44px;
  align-items: center;
  justify-content: center;
  padding: 0px 18px;
  border: 1px solid rgb(224, 244, 244);
  display: flex;
}
.detail-buying-cart {
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 18px;
  display: inline;
}
.screen{
  display: none;
}
@media screen and (min-width: 768px) {
  .details {
    display: none;
  }
  .screen{
    display: block;
  }
.screen-body{
    background-color: rgb(255,255,255);
    padding: 16px;
    display: flex;
    flex-flow: row;
    width: 100%;
    min-width: 978px;
}
.screen-watch{
  display: flex;
  flex-flow: column;
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    align-self: flex-start;
    width: 41.66%;
}
.screen-watch-pic{
    display: block;
    width: 100%;
    position: relative;
}
.screen-watch-pic-box{
    display: flex;
    align-items: stretch;
    position: relative;
}
.screen-pic{
    height: auto;
    max-height: 480px;
    margin-right: 4px;
    overflow: hidden;
}
.screen-pic-container-box{
    /* height: 444px; */
    overflow: hidden;
}
.screen-pic-box{
  height: 74px;
  width: 60px;
  border-radius: 2px;
  border: none;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;

}
.screen-pic-boxs{
  border-radius: 2px;
  padding: 4px;
  /* border: 2px solid gray; */
  width: 100%;
  height: 100%;
  position: relative;
}
.screen-pic-boxs img{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  padding: 5px;
}
.screen-pic-btn{
    bottom: 0;
    border-top: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 24px;
    left: 0;
    text-align: center;
    background-color: hsla(0, 0%, 100%, .98);
    border: 1px solid #e0e0e0;
    display: none;
}
.screen-pic-main{
    max-width: 400px;
    max-height: 492px;
    border-radius: 2px;
    display: block;
    position: relative;
    border: none;
    flex: 1;
    align-items: center;
    text-align: center;
}
.screen-pic-block{
  height: 0;
  width: 0;
  transform: scale(0);
  top: 0;
  left: 0;
  opacity: .6;
  border-radius: 2px;
  position: absolute;
  align-items: center;
  z-index: 2;
}
.screen-pic-container{
  padding-top: 100.00%;
  width: 100%;
  position: relative;
}
.screen-pic-container-block{
  padding-top: 100.00%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-pic-container-block img{
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* max-width: 100%; */
  /* max-height: 100%; */
  margin: auto;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.screen-like{
    width: 48px;
    height: 48px;
    padding: 12px;
    top: 12px;
    right: 12px;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}
.screen-watch-btn{
    width: 100%;
    display: block;
    margin-top: 12px;
}
.screen-watch-btn ul{
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}
.screen-text-watch-li{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.screen-text-watch-box{
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  width: 98%;
  float: left;
  border: none;
  background: #ff9f00;
  color: #fff;
  font-size: 16px;
  /* display: inline-block; */
  font-weight: 500;
}
.screen-text-watch-boxs{
  background:#fb641b ;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  padding: 18px 8px;
  border-radius: 2px;
  float: right;
  width: 98%;
  font-size: 16px;
  /* display: inline-block; */
  font-weight: 500;
}
.screen-thunber{
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  background-image: url();
}
.screen-text-body{
    padding-left:24px;
    display: flex;
    flex-flow: column;
    width: 66.66%;
}
.screen-body-text{
  flex-flow: row;
  display: flex;
}
.screen-body-navigation{
  flex-grow: 1;
  overflow: auto;
  display: block;
}
.screen-body-navigation-text{
  font-size: 12px;
  color: #878787;
  display: inline-block;
  font-weight: 400;
  line-height: 1.4;
}
.screen-body-navigation-text a{
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}
.screen-body-navigation-text svg{
  height: 7px;
  width: 20px;
  transform: rotate(180deg);
  vertical-align: middle;
}
.screen-body-share{
  flex: 0 0 70px;
  max-width: 70px;
  width: 100%;
  text-align: right;
  display: flex;
  position: relative;
}
.screen-body-share svg{
  width: 20px;
  height: 12px;
}
.screen-body-share-text{
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.screen-body-content{
  display: block;
  width: 100%;
}
.screen-body-content-name{
  margin-top: 6px;
}
.screen-body-content-name-text{
  color: #212121;
  font-size: 18px;
  font-weight: 400;
  display: contents;
}
.screen-body-content-name-text div{
  margin-top: 12px;
  color: #878787;
  font-size: 16px;
  display: block;
  font-weight: 500;
  line-height: 1.4;
  display: inline-block;
}
.screen-body-content-name-text span{
  line-height: 1.4;
  display: inline-block;
  color: #212121;
}
.screen-body-content-name-price{
  display: inline-flex;
  padding-top: 8px;
}
.screen-body-price{
  font-size: 28px;
  vertical-align: sub;
  display: inline-block;
  font-weight: 500;
  color: #212121;
  line-height: 1.4;
  font-family: font3;
}
.screen-body-dicount{
  font-size: 16px;
  margin-left: 12px;
  vertical-align: middle;
  color: #878787;
  display: inline-block;
  text-decoration: line-through;
  font-weight: 400;
  line-height: 1.4;
}
.screen-body-off{
  color: #26a541;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
  letter-spacing: -.2px;
  display: inline-block;
}
.screen-body-icon{
   margin: 14px 0 0 8px;
   display: flex;
}
.screen-body-icon svg{
  height: 18px;

}
.screen-body-content-name-review{
  margin-top: 6px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  color: #2874f0;
}
.screen-body-content-offer{
  margin-top: 8px;
}
.screen-body-content-offer span{
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.screen-body-content-offers{
  line-height: l.43;
  color: #212121;
  font-size: 14px;
  position: relative;
}
.body-content-offer{
  margin-top: 12px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  line-height: 1.43;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
}
.body-content-offer img{
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
.body-content-offer li{
  margin-top: -2px;
  width: 94%;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}
.body-content-offer-text{
  color: #212121;
  font-weight: 500;
  padding-right: 4px;
}
.body-content-offer-tc{
  display: inline-block;
  position: relative;
  line-height: 1.43;
  color: #2874f0;
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}
.body-offers-button{
  border: 0;
  outline: none;
  background-color: #fff;
  font-size: p4px;
  color: #2874f0;
  font-weight: 500;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.body-offers-button span{
  margin: 2px 0 0 26px ;
}
.screen-body-warrenty{
  font-size: 14px ;
  margin-top: 24px;
  display: inline-block;
}
.screen-body-warrenty div{
  font-weight: 500;
  width: 110px;
  padding-right: 10px;
  color: #878787;
  float: left;
  line-height: 2;
}
.screen-body-warrenty span{
  position: relative;
  /* margin-left: 110px; */
  color: #212121;
  display: inline;
  line-height: 2;
  font-size: 14px;
  font-weight: 400;
}
/* sdfewsdfewsdfw */
.screen-body-text-box{
  display: flex;
  flex-flow: column;
  width: 50%;
}
.screen-body-textbox{
  padding-top: 32px;
  width: 100%;
}
.screen-body-textbox-container{
  position: relative;
  display: flex;
  flex-direction: column;
}
.screen-body-delivary-box{
  display: flex;
  align-items: center;
  width: 90px;
  margin-right:12px ;
  flex: none;
}
.screen-body-delivary-box img{
  width: 18px;
  height: 18px;
  margin-bottom: -4px;
}
.screen-body-delivary-box span{
  margin-left: 8px;
  font-weight: 500;
  color: #878787;
  font-size: 14px;
  line-height: 1.4;
}
.screen-body-pincode{
  margin: 24px 12px ;
  display: inline-block;
}
.screen-body-pincode input{
  padding: 0 0 6px;
  font-size: 14px ;
  border: none;
  border-bottom: 2px solid #2874f0;
  font-weight: 500;
  align-items: center;
  display: inline-block;
  line-height: 25px;
  outline: none;
  width: 160px;
}
.screen-body-pincode span{
  color: #878787;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  border-bottom: 2px solid #2874f0;
  display: inline-block;
  padding-bottom: 6px;
  line-height: 25px;
}
.screen-body-textDelivary{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 6px 0 0 2px;
}
.screen-textdelivary-delivary{
  margin: 8px 0 4px 0;
  font-weight: 500;
  display: inline-block;
  font-size: 14px ;
  line-height: 1.4;
}
.screen-textdelivary-delivary span{
  margin-left: 4px ;
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
  color: #212121;
}
.screen-textdelivary-view{
  color: #2874f0;
  font-weight: 500;
  font-size: 14px;
  color: #2874f0;
  line-height: 1.4;
}
.screen-body-text-container{
  padding: 32px 0 0 52px;
  width: 50%;
}
.screen-body-text-container-data{
  margin-top: 24px;
}
.screen-body-text-container-data-text{
  color: #878787;
  width: 110px;
  padding-right: 10px;
  float: left;
  font-weight: 500;
  line-height: 1.4;
}
.screen-body-text-container ul{
  margin-left: 110px;
}
.screen-data-text{
  color: #212121;
  padding-bottom: 8px;
  list-style: none;
  /* display: flex; */
  float: left;
}
.screen-data-text img{
  height: 16px;
  width: 16px;
  margin: 2px 8px 0 0;
  float: left;
}
.screen-data-text div{
  /* margin-left: 17px; */
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  display: inline-block;
  width: 100%;
  
  line-clamp: 2;
}
.screen-body-delivary{
  display: flex;
  flex-flow: column;
}
.body-delivary-box-pa{
  display: block;
  width: 100%;
  padding-top: 8px;
}
.padd-body{
  font-size: 14px;
  margin-top: 24px;
  display: flex;
}
.body-seller{
  font-weight: 500;
  width: 110px;
  padding-right: 10px;
  color: #878787;
  float: left;
}
.body-seller-name{
  font-weight: 500;
  color: #2874f0;
  position: relative;
  display: inline;
}
.body-seller-name img{
  margin: 2px 0 0 2px;
  height: 10px;
}
.body-seller-name span{
  margin-left: 8px;
  border-radius: 10px;
  background: #2874f0;
  font-size: 11px;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  font-weight: 500;
}
.body-date{
  margin-top: 24px;
    position: relative;
}
.body-date div{
  margin: 12px 0 -4px 17px;
  color: #212121;

  padding-bottom: 8px;
  line-height: 1.4;
}
.body-date div::after{
  content: "";
  height: 6px;
  width: 6px;
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
  background-color: #c2c2c2;
}
.body-other{

  color: #2874f0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}
.body-delivary-box-padd{
    margin-top: 24px;
  display: block;
  width: 100%;
  /* padding-top: 24px; */
  border-top: 2px solid #f0f0f0;
   display: flex;
 width: 100%;
 flex-flow: row wrap;
}
.body-delivary-box-padd-box{
  font-size: 24px;
  padding: 32px 0  32px 24px;
  font-weight: 500;
  width: 91.66%;
  display: inline-block;
  vertical-align: top;
}
.body-delivary-box-padd span{
  padding: 40px 24px 0 0;
  text-align: center;
  width: 8.33%;
  display: inline-block;
  vertical-align: top;
}
.body-delivary-box{
  display: inline-block;
  width: 100%;
  border-top: 2px solid #f0f0f0;
  border-radius: 2px ;
  vertical-align: middle;
}
.body-delivary-box-container{
  display: flex;
  justify-content: space-between;
}
.body-delivary-text{
  padding: 32px 32px 32px 24px;
  font-weight: 500;
  font-size: 24px;
  color: #212121;
  line-height: 1.4;
}
.body-delivary-box-container span{
  flex-grow: 1;
  text-align: right;
}
.body-delivary-question{
  border: none;
  padding: 24px 0;
  margin: 0 24px;
  font-size: 24px;
  font-weight: 500;
  color: #212121;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.body-delivary-question span{
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  line-height: 1.4;
}
.body-delivary-question button{
  padding: 8px 16px;
  background-color: #2874f0;
  color: #fff;
  border: none;
  font-size: 14px;
  display: inline-block;
  border-radius: 2px;
  font-weight: 500;

}
/* sdfewsdfew sdfewsdfew */
}